<style>

  .card_item_container {
    margin-right: 82px;

  }

  .cart_item_amount {
    margin-right: 10px;
  }

</style>

<%= form_for order_item, remote: true do |f| %>
  <div class="card_item_container">
    <div class="well">
      <p><%= f.hidden_field :product_id, value: product.id %></p>
      <h3> <%= "#{product.name} - #{order_item.quantity.to_i} items, #{number_to_currency order_item.total_price}" %></h3>
      <p class="cart_item_amount"><%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %></p>
      <p><%= f.submit "Update Quantity", class: "btn btn-primary" %> <%= link_to "Delete", order_item, {data: {confirm: "Remove'#{order_item.product.name}'?"}, method: :delete, remote: true, class: "btn btn-danger"} %> </p>
    </div>
<% end %>
</div>



